<% content_for :page_title, @job_post.title %>

<section class="section">
  <div class="container">
    <nav class="level">
      <!-- Left Side -->
      <div class="level-left">
        <h1 class="title">
          <%= @job_post.title %>
        </h1>
      </div>

        <!-- Right Side -->
      <div class="level-right">
        <% if current_user %>
          <p class="button">
            <%= link_to "Take Test", new_exam_test_path(@job_post.exams.first) %>
          </p>
        <% end %>
        <% if current_client %>
          <% if @job_post.exams.any? %>

          <% else %>
          <p class="button">
            <%= link_to "Create Test", :controller => "exams", :action => "new", :id => @job_post.id %>
          </p>
          <% end %>
        <% end %>
        <% if current_client %>
          <p class="level-item">
            <p class="level-item">
              <%= link_to "Edit", edit_job_post_path(@job_post), class: "button" %>
            </p>
          </p>
        <% end %>
        <% if current_client %>
          <p class="level-item">
            <%= link_to "Delete", job_post_path(@job_post), method: :delete, data: {confirm: "Are you sure?"}, class: "button is-danger" %>
          </p>
        <% end %>
      </div>
    </nav>
    <hr />
    <div class="content">
      <%= @job_post.content %>
    </div>
  </div>
</section>