<!DOCTYPE html>
<html>
  <head>
    <title>AppTester</title>


    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <section class="hero is-primary is-medium">
      <!-- Hero head: will stick at the top -->
      <div class="hero-head">
        <nav class="navbar">
          <div class="container">
            <div class="navbar-brand">

              <span class="navbar-burger burger" data-target="navMenu">
              <span></span>
              <span></span>
              <span></span>
            </span>
            </div>
            <div id="navMenu" class="navbar-menu">
              <div class="navbar-end">
                <a class="navbar-item">
<!--                  TODO: Add Take Test functionality-->
                  <%= link_to 'Invite Employee To Take Test', new_user_invitation_path, class: "navbar-item" %>
                </a>
<!--                <a class="navbar-item">-->
<!--                  TODO: Add About Us page-->
                  <%#= link_to 'About Us', about_us_path, class: "navbar-item" %>
<!--                </a>-->
                <% if current_user.class == User %>
                  <a class="navbar-item">
                    <%= link_to "Edit Account Info", edit_user_registration_path, class: "navbar-item" %>
                  </a>
                  <a class="navbar-item">
                    <%= link_to 'Profile Page', "users/:id", class: "navbar-item" %>
                  </a>
                  <a class="navbar-item">
                    <%= link_to 'Employee Sign out', destroy_user_session_path, method: :delete, class: "navbar-item" %>
                <% elsif current_client %>
                  <a class="navbar-item">
                    <%= link_to "Edit Account Info", edit_client_registration_path, class: "navbar-item" %>
                  </a>
                  <a class="navbar-item">
                    <%= link_to 'Profile Page', "clients/:id", class: "navbar-item" %>
                  </a>
                <% elsif unless current_user || current_client %>
                  <a class="navbar-item">
                    <%= link_to 'Employee Sign in', new_user_session_path, class: "navbar-item" %>
                  </a>
                  <a class="navbar-item">
                    <%= link_to 'Employee Sign Up', new_user_registration_path, class: "navbar-item" %>
                <% end %>
                <% else %>
                <% end %>
                  </a>
                </a>
              </div>
            </div>
          </div>
        </nav>
        <script type="text/javascript">
            (function() {
                var burger = document.querySelector('.burger');
                var nav = document.querySelector('#'+burger.dataset.target);

                burger.addEventListener('click', function () {
                    burger.classList.toggle('is-active');
                    nav.classList.toggle('is-active');
                });
                })();
        </script>
      </div>

      <!-- Hero content: will be in the middle -->
      <div class="hero-body">
        <div class="container has-text-centered">
          <h1 class="title">
            App Tester
          </h1>
        </div>
      </div>

      <!-- Hero footer: will stick at the bottom -->
      <div class="hero-foot">
        <nav class="tabs is-boxed is-fullwidth">
          <div class="container">
            <ul>
              <li>
<!--              <%#= link_to 'App-Tester Home', root_path, class: "navbar-item" %></a></li>-->
                <%= link_to 'Home', root_path, class: "navbar-item" %>
              <% if current_client  %>
              <li><%= link_to "Create Job Post", new_job_post_path, class: "navbar-item" %></li>
              <li><%= link_to "Built Tests", exams_path %></li>
              <% end %>
              <li></li>
              <li>
                <% if current_client  %>
                  <%= link_to 'Sign out', destroy_client_session_path, method: :delete %>
                <% elsif current_user.class == User %>

                <% else %>
                  <%= link_to 'Company Sign in', new_client_session_path %>
              </li>
                <li>
                  <%= link_to 'Company Registration', new_client_registration_path %>
                  <% end %>
                </li>

            </ul>
          </div>
        </nav>
      </div>
    </section>
    <%= render 'layouts/alerts' %>
    <%= yield %>
  </body>
</html>
